@page "/login"

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="userName">Username</label>
        <InputText id="userName" class="form-control" @bind-Value="user.UserName" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="user.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-2">
            @errorMessage
        </div>
    }
</EditForm>

@code {
    private Users user = new Users();
    private string ? errorMessage;

    private async void HandleLogin()
    {
        errorMessage = null;
        UserService.IsLoggedIn = await LoginServices.Login(user.UserName, user.Password);

        if (UserService.IsLoggedIn)
        {
            await LocalStorage.SetAsync("IsLoggedIn", true);
            StateContainer.NotifyStateChanged();
        }
        else
        {
            errorMessage = "Invalid username or password";
        }
    }
}
